$blue: #006ec5;
$grey: #585858;
$accent: #5e4e2e;
$darkAccent: rgb(223, 223, 223);

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:10px;
    line-height: 1.125;
}
body {
    min-height: 800px;
    min-width: 1000px;
    background: $accent;
    background-size: 100% 100%;
    overflow: hidden;
    * {
        box-sizing: border-box;
    }
}
.forest, .village, .start-menu, .start-btns, .menu {
    display: table;
    margin: auto;
    width: 100%;
  
    box-sizing: border-box;
    height: 100vh;
    font-size: 0;
    .forest-img, .village-img, .name-img{
        background-size: cover;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        .left {
            font-size: 1rem;
            display: inline-table;
            width: 35%;

            height: 100vh;
            float: left;
       
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .center {
            font-size: 1rem;
            
            display: inline-table;
            width: 30%;
         
            height: 100vh;
        

        }
        .right {
            font-size: 1rem;
            display: inline-table;
            width: 35%;
            height: 100vh;
            float: right;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}
.btns{
    width: 40%;
    height: 20%;
    margin: 60% auto;

    .torest, .inforest, .enter-name {
        width: 100%;
        height: 100%;
        button {
            background-color: #472d16;
            color: #ead59c;
            width: 96%;
            height: 44%;
            margin: 2%;
            border: none;
            border: 2px solid #312a22;
            &:active {
                background-color: #221819;
                box-shadow: inset 0 0 10px 6px black;
            }
        }
    }
    p {
        color: whitesmoke;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .hunt, .deep, .goback {
        width: 100%;
        height: 100%;
        
        button {
            background-color: #472d16;
            color: #ead59c;
            width: 96%;
            height: 30px;
            margin: 2%;
            border: none;
            border: 2px solid #312a22;
            border-radius: 0;
            &:active {
                background-color: #221819;
                box-shadow: inset 0 0 10px 6px black;
            }
        }
        
     
    }
    .start-p {
        color: #312a22;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .start-name-inp {
        background-color: whitesmoke;
        text-align: center;
        color: #312a22;
        width: 96%;
        padding: 0 10px;
        height: 30px;
        margin: 2%;
        border: none;
        border: 2px solid #312a22;
    }
}
.battle-btns{
    width: 50px;
    height: 420px;
    
        .atck, .surr, .skill {
        background-color: #472d16;
        color: #ead59c;
        width: 50px;
        height: 50px;
        margin: 10px;
        border: 2px solid #312a22;
        background-size: cover;
        &:active {
            background-color: #221819;
            box-shadow: inset 0 0 10px 6px black;
        }
    
    }
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.gold {
    color: gold;
}
.white {
    color: whitesmoke;
}
.disp-none {
    display: none;
}
.disp-op {
    opacity: 0.5;
}
.disp-op100 {
    opacity: 0;
}