.cards-enemy-style {
    background-color: white;
    width: 30em;
    height: 50em;
    border: 1em solid;
    box-sizing: border-box;
    float: right;
    p {
        font-size: 2em;
    }
    span {
        font-size: 1.5em;
    }
    h2, h3 {
        font-size: 3em;
        text-align: center; 
    }

    .image-style {
        width: 25em;
        height: 25em;
        background-size: cover;
        background-position: 50% 50%;
        margin: auto;
        display: block;
    }
    .exp {
        color: yellow;
    }
    .mp {
        color: blue;
    }
    .hp {
        color: red;
    }
    .char-right {
        float: right;
        margin-right: 5em;
    }
    .chars { 
       &:after {
        clear: both;
       }
    }
}