.cards-style {
    background-color: white;
    // background-image: url('../../img/warrior.jpg');
    margin: 3em 3em;
    width: 40em;
    height: 60em;
    border: 1em solid;
    padding: 2em;
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    left: 10%;
    p {
        font-size: 2em;
    }
    span {
        font-size: 1.5em;
    }
    h2, h3 {
        font-size: 3em;
        text-align: center; 
    }
    .image-style {
        width: 30em;
        height: 40em;
        background-position: 50%;
        background-size: cover;
        margin: auto;
        display: block;
    }
    .exp {
        color: black;
    }
    .mp {
        color: blue;
    }
    .hp {
        color: red;
    }
    .char-left {
        float: left;
        margin-left: 5em;

    }
    .char-right {
        float: right;
        margin-right: 5em;
    }
    .char-bot {
        margin-left: 10em;
    }
}