.side-menu {
    width: 300px;
    height: 65px;
    background-color: #21170d;
    border: 2px solid #312a22;
    position: absolute;
    .menu-img {
        // height: 60px;
        float: left;
        background-size: 80%;
        background-position: 32% 50%;
        background-repeat: no-repeat;
        border: 1px solid #312a22;
    }
    .menu-img:nth-child(3) {
        background-position: 22% 50%;
    }
}

.char-window, .char-window-shop {
    opacity: 0.95;    
    padding: 40px;
    font-size: 2rem;
    color: #ead59c;
    .shop-title {
        text-align: center;
        span{  
            width: 200px;
            display: block;
            background-color: #21170d;
            padding: 10px;
            margin: 0 auto;
            margin-top: -20px;
            margin-bottom: 20px;
            border: 1px solid #312a22;
        }
    }
    .trade-plate {
        height: 55px;
        margin-bottom: 20px;
        width: 45vw;
        clear: both;
        .inv-slot {
            height: 100%;
            width: 10%;
        }
    }
    .trade-plate-1 {
        height: 55px;
        margin-bottom: -4px;
        width: 45vw;
        clear: both;
        overflow-y: scroll; 
        
        .inv-slot {
            height: 100%;
            width: 10%;
        }
    }
    .inventory-shop {
        height: 220px;
        margin-bottom: 20px;
        width: 45vw;
        clear: both;
        
        
        .inv-slot {
            height: 25%;
            width: 10%;
        }
    }
    .inventory{
        height: 550px;
        width: 85vw;
        .inv-slot {
            height: 10%;
            width: 5%;
        }
    }
    .inventory, .inventory-shop, .trade-plate, .trade-plate-1 {
        float: left;
        background-color: #21170d;
        border: 3px solid #312a22;
        
        .inv-slot {
            border: 1px solid #312a22;
            box-sizing: border-box;
            
            
            float: left;
            
            .inv-img-used {
                border: 3px solid gold;
                border-radius: 0; 
            }
            .inv-img{ 
                border-radius: 3px; 
            }
            .inv-img, .inv-img-used {
                background-size: 100% 100%;
                background-repeat: no-repeat;
                position: relative;
                .info {
                    z-index: 9999;
                    font-size: 12px;
                    position: absolute;
                    top:80%;
                    left:50%;
                    background-color: #000;
                    padding: 5px 10px 5px 10px;
                    color: white;
                    opacity: 0;
                    border-radius: 5px;
                    text-align: center;
                    animation: tooltip-anim 1s;
                    animation-fill-mode: forwards;
                    transition: 1s;
                }
            }
        }
    }
    .first {
        float: left;
        width: 450px;
        background-color: #21170d;
        border: 3px solid #312a22;
        border-right: none; 
        .fst-window {
            height: 200px;
            width: 100%;
            background-color: #21170d;
            border: 1px solid #312a22;
            // padding: 20px; 
            text-align: center;        
            div:nth-child(2) {
                border-left: none;
            }
            h3 {
                color: #975050;
                font-size: 3.0rem;
                font-weight: bold;
                height: 45px;
                width: 100%;
                margin-top: 10px;
            }
            
            div {
                border: 1px solid #312a22;
                border-bottom: none;
                border-right:none; 
                float: left;
                width: 50%;
                color: #ead59c;
                margin-bottom: 4px;
                
                p{
                    clear: both;
                    margin: 15px 0;
                    font-size: 2.5rem;
                }
                
            }
           
            
        }
        .scd-window {
            height: 200px;
            width: 100%;
            background-color: #21170d;
            border: 1px solid #312a22;
            .submit-lvl {
                float: right;
                background-color: #472d16;
                color: #ead59c;
                width: 60px;
                height: 25px;
                margin: 160px 15px 20px;
                border: none;
                border: 2px solid #312a22;
            }
            div:first-child {
                p {
                    margin: 14px 50px;
                    margin-right: 100px;
                }
            }
            .att-icons {
                text-align: center;
                
                p{
                    position: relative; 
                    .att-icon {
                        border: 2px solid #352d1a;
                        background-color: black;
                        color: #ead59c;
                        font-size: 2rem;
                        border-radius: 50%;
                        height: 30px;
                        width: 50px;
                        text-align: center;    
                        margin: 4px;       
                            
                    }
                    
                    button {
                        position: absolute;
                        left: 47px;
                        top: 13px;
                        border-radius: 50% ;
                        border: none;
                        width: 10px;
                        height: 10px;
                        text-align: center;
                        background-color: #8a7f64;
                        line-height: 0;
                        font-size: 1rem;
                    }
                    .min-icon {
                        left: 2px;
                    }
                }
            }
            div {
                float: left;
            }
        }
        .trd-window {
            height: 200px;
            width: 100%;
            background-color: #21170d;
            border: 1px solid #312a22;
            div:first-child {
                margin-top: 20px;
                p {
                    margin: 14px 50px;
                    margin-right: 100px;
                }
            }
            .att-icons {
                text-align: center;
                margin-top: 20px;
                p{
                    position: relative; 
                    .att-icon {
                        border: 2px solid #352d1a;
                        background-color: black;
                        color: #ead59c;
                        font-size: 2rem;
                        border-radius: 50%;
                        height: 30px;
                        width: 50px;
                        text-align: center;    
                        margin: 4px;       
                            
                    }
                    
                    button {
                        position: absolute;
                        left: 47px;
                        top: 13px;
                        border-radius: 50% ;
                        border: none;
                        width: 10px;
                        height: 10px;
                        text-align: center;
                        background-color: #8a7f64;
                        line-height: 0;
                        font-size: 1rem;
                    }
                    .min-icon {
                        left: 2px;
                    }
                }
            }
            div {
                float: left;
            }
        }
    }
    .second {
        float: left;
        width: 50vw;
        background-color: #21170d;
        border: 3px solid #312a22;
        border-left: none; 
        .frt-window {
            height: 300px;
            width: 100%;
            background-color: #21170d;
            border: 1px solid #312a22;

            div:nth-child(2) {
                border-top: 1px solid #312a22;
                border-right: 1px solid #312a22;
                border-bottom: 1px solid #312a22;
            }
            div:nth-child(3){
                border-top: 1px solid #312a22;
                border-bottom: 1px solid #312a22;
            }
            div:nth-child(4){
                
                border-right: 1px solid #312a22;
            }
            .skill-title {
                text-align: center;
                margin-top: 13px;
                width:100%;
                height: 42px;
                font-size: 2.5rem;
                font-weight: bold;
                color: rgb(64, 64, 163); 
            }
            div {
                width: 50%;
                height: 122px;
                float: left;
                padding: 11px;
                &.closed-skill {
                    div, p {
                        display: none;
                    }
                }
                div{
                    height: 100px;
                    width: 100px; 
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 15px;
                }
                p {
                    margin: 10px;
                    text-align: justify;
                }
            }
            
        }
        .fth-window {
            height: 300px;
            width: 100%;
            background-color: #21170d;
            border: 1px solid #312a22;
            .submit-lvl {
                float: right;
                background-color: #472d16;
                color: #ead59c;
                width: 60px;
                height: 25px;
                margin: 190px 15px 0 20px;
                border: none;
                border: 2px solid #312a22;
            }
            .att-title {
                text-align: center;
                margin-top: 13px;
                width:100%;
                height: 42px;
                font-size: 2.5rem;
                font-weight: bold;
                color: rgb(64, 64, 163); 
                border-bottom: 1px solid #312a22;
            }
          
            .fth-div {
                float: left;
                
                p {
                    margin: 38px 100px;
                    margin-right: 150px;
                }
                p:first-child {
                    margin-top: 15px;
                }
                p:last-child {
                    margin-bottom: 0;
                }
            }
            .att-icons {
                text-align: center;
                float: left;
                p{
                    position: relative; 
                }
                .att-icon {
                    border: 2px solid #352d1a;
                    background-color: black;
                    color: #ead59c;
                    font-size: 2rem;
                    border-radius: 50%;
                    height: 50px;
                    width: 80px;
                    text-align: center;    
                    margin: 5px;       
                        
                }
                
                button {
                    position: absolute;
                    left: 73px;
                    top: 21px;
                    border-radius: 50% ;
                    border: none;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    background-color: #8a7f64;
                    line-height: 1;
                    font-size: 1.5rem;
                }
                .min-icon {
                    left: 2px;
                }
            }
        }
    }
    .menu-list {
        height: 280px;
    }
    .menu-list-shop {
        height: 350px;
    }
    .card {
        width: 38vw;
        height:  500px;
        float: left;
        margin-left: 1vw;
        button {
            background-color: #472d16;
            color: #ead59c;
            width: 30%;
            height: 50px;
            border: none;
            border: 2px solid #312a22;
            &:active {
                background-color: #221819;
                box-shadow: inset 0 0 10px 6px black;
            }
        }
    }
    .shop-inv {
        float: left;
    }
    .menu-list, .menu-list-shop {
        float: left;
        width: 65px;
        margin-left: 1vw;
        background-color: #21170d;
        border: 2px solid #312a22;

        .menu-img {
            background-size: 80%;
            background-position: 32% 50%;
            background-repeat: no-repeat;
            border: 1px solid #312a22;
        }
        .menu-img:nth-child(3) {
            background-position: 22% 50%;
        }
    }
}
@keyframes tooltip-anim  {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}