.start-btns {
    margin: 20em auto;
    width: 86em;
    height: 15em;
    // text-align: justify;
    p { 
        font-size: 3.9em;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        margin: 1em auto;
        // display: inline;
        width: 100%;
    }
    button {
        width: 8em;
        height: 4em;
        background-color: #213e1b;
        margin: 0.2em;
        font-size: 3.4em;
        // font-weight: bold;
        color: whitesmoke;
        text-align: center;
        // border: 0.1em solid black;
        &:hover {
            background-color: black;
        } 
    }
    a {
       text-decoration: none;
        color: whitesmoke;
    }
}
.start-name {
    margin: 20em auto;
    width: 56em;
    height: 15em;
    // text-align: justify;
    p { 
        font-size: 3.9em;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        margin: 1em auto;
        // display: inline;
        width: 100%;
    }
    button {
        width: 8em;
        height: 4em;
        background-color: #213e1b;
        margin: 0.2em;
        font-size: 3.4em;
        // font-weight: bold;
        color: whitesmoke;
        text-align: center;
        // border: 0.1em solid black;
        &:hover {
            background-color: black;
        } 
    }
    a {
       text-decoration: none;
        color: whitesmoke;
    }
   .start-name-inp {
       width: 8em;
       height: 4em;
       font-size: 3.4em;
       text-align: center;
   }
}