.village {
    width: 100%;
    height: 100%;
    img {
    position: relative;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    }
    .lvlup-list {
        position: absolute;
        top:10%;
        left: 5%;
        background-color: #213e1b;
        width: 30%;
        height: 60%;
        border: 3px solid black;
        text-align: center;
        clear: both;
        span {
            float: left;
        }
        button {
            float: right;
        }
        input {
            width: 5%;
            // float: right
        }
    }
    .menu-list {
        // width: 28.5em;
        width: 20%;
        margin: 8%;
        position: absolute;
        top: 5%;
        left: 60%;
        p { 
            font-size: 3.9em;
            font-weight: bold;
            color: whitesmoke;
            text-align: center;
            margin: 1em auto;
            width: 100%;
        }
        button {
            width: 100%;
            height: 10%;
            background-color: #213e1b;
            margin: 0.2em;
            font-size: 3.4em;

            color: whitesmoke;
            text-align: center;
            // border: 0.1em solid black;
            &:hover {
                background-color: black;
            } 
        }
        a {
        text-decoration: none;
            color: whitesmoke;
        }
    }
}